<%- include("header") -%>

<h2 style="margin-left: 4.5%; margin-bottom:0; margin-top:5%;">About</h2>

<p style="margin-left: 3%;">This is a planner web app. You can use it to create custom task lists.
When you type /customName in the URL e.g. /work or /school, a custom list will be displayed.
Each list will have its own set of items, so you can keep all your tasks organized. Hit the + button to add a new item
and click the checkbox to delete an item. <br> <br>This app was created
using Node.js, HTML, CSS. The backend uses MongoDB to store all the list data and EJS templating was used
to allow for the creation of customizable pages. Please visit my Github to view the code.<br> <br> Happy tasking :)</p>

<%- include("footer") -%>
