

</body>

<footer>
  <h3 style="margin-bottom:0; margin-top:10%;"><a href="/about" style="margin-top:0; color:grey;">About</a></h3>
  <h5 style="margin-top:10px;"><a href="https://achirasarker.me/" style="color:grey;">© ACHIRA SARKER 2020</a></h5>
</footer>

</html>
